body {
  background: beige;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.border-bottom{
  border-bottom: 1px solid #000;
}
.inlined{
  display: inline-block;
}

.font-size-40{
  font-size: 40px;
}
.font-size-30{
  font-size: 30px !important;
}
.font-weight-600{
  font-weight: 600;
}
.letter-spacing-2{
  letter-spacing: 2px;
}
.fantasy{
  font-family: unset;
}
.height-35{
  height: 35px;
}
.border-gray{
  border: 1px solid #414141 !important;
}
.width-100{
  width: 100%;
}
.height-87vh{
  height: 87vh;
}
.font-size-20{
  font-size: 20px;
}
.color-black{
  color: #000 !important;
}
.color-red{
  color: darkred;
}
.modal-dialog {
  max-width: 420px !important;
  margin: 20vh auto;
}

.ok-btn{
  box-shadow: none !important;
  padding: 0.5rem 2.14rem !important;
}
.background-color-gray{
  background-color: #aebfbe !important
}
.background-transparent{
  background: transparent !important;
}
.border-none{
  border: none !important;
}